<div class="container">
    <div class="row">
        <div class="col-md-1"></div>
        <div class="col-md-10">
            <button id="scrape-btn"class="btn btn-sm">Scrape</button>
            <button class="btn btn-sm">Saved articles</button>
            <div class="home-p main-title">
                <h1>
                    FastCo/<span style="font-weight:100">Design</span><br> Scraper
                </h1>
            </div>
        </div>
        
        <div class="col-md-1"></div>

    </div>

</div>
<script src="/js/index.js"></script>

